/* 1em - 14px */

html {
    height:100%;
}
body {
    height:100%;
    font-size:14px;
}
table {
    border-spacing:0;
}
table td {
    padding:0;
}
table.mc {
    width:100%;
    height:100%;
}
.mc .tabs {
    vertical-align:top;
    padding-left:1.429em;
    padding-right:1.429em;
    padding-top:0.857em;
    border-bottom: 1px solid #ddd;
    height: 4em;
}
.mc .users {
    background:#f4f4f4;
    padding:0.714em 1.143em;
    overflow-y:auto;
    vertical-align:top;
}
.mc .offset-right {
    width:21.4em;
}
.mc .chat {
    width:100%;
    height:100%;
}
.mc tbody, .mc td {height:100%;}
.mc .area, .mc .area2 {height:100%;}
.mc .messages-area {
    height:100%;
    display: flex;
    flex-direction: column;
    position:relative;
    /* padding: 0.5em 1.429em 0 1.429em; */
}
.mc .messages {
    padding-right:40%;
    height:100%;
    overflow-y: auto;
    margin: 0.5em 1.429em 0 1.429em;
}
.mc .broadcast-area {
    position: relative;
    top: 0;
    margin-right: 3.4em;
}
.mc .broadcast {
    position: absolute;
    left: 60%;
}

.mc .tab {
    cursor:pointer;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding:0 0.857em;
    padding-right:0em;
    font-size:1em;
    height:2.286em;
    line-height:2.286em;
    float:left;
    border-radius:0.286em;
    margin-right:0.857em;
    margin-bottom:0.714em;
    color:#333;
}
.mc .tab-title {
    width: 0px;
    display: inline-block;
    overflow: visible;
    white-space: nowrap;
}
.mc .tab-title-alpha-bold {
    white-space: nowrap;
    font-weight:bold;
    opacity:0;
}
.mc .tab .x {
    padding: 8px 10px 8px 8px;
    position: relative;
    font-size: 8px;
    top: 0;
    font-weight: normal;
}
.mc .tab.not-active {
    color: #444;
}


.mc .tab.room.active{
    font-weight:bold;
    background: #167ac6;
    color:#fff;
}
.mc .tab.room.not-active{
    background:#eee;
}
.mc .tab.room.not-active:active{
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.mc .tab.dialog.active{
    font-weight:bold;
    background: rgba(192, 226, 253, 0.06);
    box-shadow: inset 0 0 0 1px #167ac6,inset 0 0 0 2px rgba(0, 98, 183, 0.12);
    color: #167ac6;
}
.mc .tab.room.active:active{
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.mc .tab.dialog.active .tab-title {
    color:#84BAE1;
}
.mc .tab.dialog.active .tab-title .nn {
    color:#167ac6;
}
.mc .tab.dialog.not-active {
    box-shadow:inset 0 0 0 1px #e6e6e6,inset 0 0 0 2px #fcfcfc;
}
.mc .tab.dialog.not-active .tab-title {
    color:#aaa;
}
.mc .tab.dialog.not-active .tab-title .nn {
    color:#333;
}

.mc .rd {float:left;}
.mc .rd.dialogs {margin-right: 0.857em}

.mc .tabline-button {
    cursor:pointer;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding:0 0.857em;
    font-size:1em;
    height:2.286em;
    line-height:2.286em;
    float:left;
    border-radius:0.286em;
    margin-right:0.857em;
    margin-bottom:0.714em;
    color:#333;
    background:#eee;
}
.mc .tabline-button:active{
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.mc .input {
    height:6.2em;
}
.mc .input table {
    width:100%;
    height:inherit;
    position:fixed;
    bottom:0;
}
.mc .input table tbody {
    height: 0;
}
.mc .input table td {
    height:100%;
    padding:0.2em;
    vertical-align:bottom;
    padding-bottom: 0.6em;
    padding-top:0;
}
.mc td.input .resize-y {
    top:0px !important;
    max-height:10em;
    min-height:5.9em;
    height:5.9em;
    padding-top: 0.6em;
}
.mc td.input .resize-y .ui-resizable-n {
    border: 4px solid rgba(0, 0, 0, 0);
}
.mc .input .msg-area{
    width:100%;
    height:100% !important;
    resiz-e:none;
}
.mc .input .send-btn{
    width:100%;
    height:5.3em;
    float:right;
    font-size:1em;
}

.mc .btn-options {
    margin:0 0.857em;
    float:right;
    background-color:#d9534f;
    border-color:#d43f3a;
    height:2.286em;
}

.mc .btn-anketa {
    float:right;
    background-color:#5cb85c;
    border-color:#4cae4c;
    height:2.286em;
}

.mc .btn-logout {
    cursor:pointer;
    float:right;
    color:#555;
    display:inline-block;
    font-size: 1.2em;
    line-height: 1.95em;
    margin-left: 0.5em;
}
.mc .btn-logout:hover {
    color:#444;
}
.mc .newroom {
    display:none;
}

.blackout {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 150;
    display: block;
    background: rgba(0, 0, 0, 0.690196);
}
.blackout .popup {
    background:#fff;
    border-radius:0.286em;
    border:1px solid rgb(51, 51, 51);
    padding:1.429em;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.172549) 0px 0.429em 0.857em;
    top:50%;
    left:50%;
    transform:translateY(-50%) translateX(-50%) translateZ(0);
}

.blackout .popup .popup-x {
    cursor:pointer;
    float:right;
    color:#333;
    font-size:1em;
}
.blackout .popup h3 {
    font-size:1em;
    margin-bottom:1.857em;
    margin-top:0;
    text-transform:uppercase;
    font-weight:bold;
}
.blackout .popup .rooms-search {
    box-shadow: 0.214em 0 0 #f0f0f0, -0.214em 0 0 #f0f0f0;
    background:#f0f0f0;
    border-radius:0.286em;
    padding:0.7em 1.143em;
    height: 3.829em;
    margin-bottom:1.2em;
}
.blackout .popup .rooms-search input {
    width: 14.286em;
    height: 2.429em;
    float: right;
}
.blackout .popup .rooms-search span {
    line-height: 2.429em;
    font-size: 1em;
    color: #333;
}

.blackout .popup .newroom {
    cursor: pointer;
    font-size: 1em;
    float: left;
    margin: 1em 0 0 0.8em;
    height: 2em;
    line-height: 1.86em;
    border: 1px solid rgb(204, 204, 204) !important;
    border-radius: 0.143em;
    padding: 0 0.7em;
}
.blackout .popup .newroom:hover {
    background: #f6f6f6;
    border: 1px solid rgb(183, 183, 183) !important;
}

.blackout .popup .new-room-form .form-control {
    margin-bottom:0.8em;
}
.blackout .popup .new-room-form .add-lock {
    padding-top: 1.15em;
    padding-left: 0.2em;
}
.blackout .popup .new-room-form textarea {
    height:8.571em;
    min-height:8.571em;
    min-width: 100%;
    margin-bottom:1.2em !importnat;
}
.blackout .popup .new-room-form .btn {
    float:right;
    margin-top:0.6em;
}
.blackout .popup .new-room-form label {
    font-weight:normal;
    cursor:default;
    font-size:1em;
    color:#4b4b4b;
    position: relative;
    top: -0.2em;
    padding-left: 0.515em;
}
.blackout .popup .new-room-form input#showbroadcast, .blackout .popup .new-room-form input#private {
    outline:none;
}

.room-item {
    cursor:pointer;
    border-radius:0.143em;
    padding:0.64em 1em;
    font-size:1em;
    font-weight:bold;
    color:#167ac6;
}
.room-item .left {
    float:left;
    color:#7BB2DB !important;
}
.room-item .right {
    float:right;
    color:#7BB2DB !important;
    box-shadow:none;
}
.room-item .center {
    flex: auto;
    width: auto;
    padding-left:2.4em;
    color:inherit;
}
.room-item:hover {
    background:#167ac6;
    color:#fff;
}

.dot {
    cursor: default;
    color: #6A6A6A;
    margin: 0 !important;
}
.page.selected {
    background: #167ac6 !important;
    color: #fff;
    box-shadow: inset 0 0 0 1px #1D64A1;
    cursor: default !important;
}
.page:hover {
    background: #eee;
    cursor: pointer;
    /* border-radius: 4px; */
}
.page:not(.selected) {
    box-shadow: rgb(226, 226, 226) 0px 0px 0px 1px inset;
}
.page:not(.selected):hover {
    background: #fafafa;
    box-shadow: rgb(204, 204, 204) 0px 0px 0px 1px inset, inset 0 14px 0 rgba(245, 245, 245, 0), 0 2px 1px rgba(0, 0, 0, 0.0) !important;
    cursor: pointer;
}
.page, .dot {
    margin: 0 2px;
    border-radius: 2px;
    display: inline-block;
    line-height: 28px;
    min-width: 28px;
    text-align: center;
    padding: 0 0.6em;
}
.page-input {
    width: 3.6em;
    display: inline-block;
    height: 2em;
    margin-left: 1.5em;
    margin-right: 0.2em;
}

.rooms-pages {
    float: right;
    margin-right: 0.6em;
    margin-top: 1em;
}

.mc .area {
    height:100%;
}

.rooms-list .message {
    padding: 0.64em 1em;
    font-weight: bold;
    color: #666
}
.rooms-list .message.message-err {
    color:#DF4646;
}
.rooms-list .room-item .lock {
    margin-right: 0.7em;
    font-size: 11px;
    top: 0px;
    color: #555;
}
.rooms-list .room-item:hover .lock {
    color:rgba(255,255,255,0.6);
}

.mc .message .msg {
    word-wrap: break-word;
    word-break: break-all;
}

.btn-user {
    display: block;
    background: none;
    border: 1px solid rgba(0,0,0,0);
    font-weight: bold;
    color: #333;
    height: 32px;
    padding-top: 5px;
    padding-bottom:5px;
}
.btn-user:active {
    background: #f2f2f2;
    border:1px solid #8c8c8c;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.message .btn-user {
    color: rgba(0, 0, 0, 0.65);
    margin: 0 1em;
}
.btn-user .user-name {position:relative;top:1px;}
.btn-user .sex {
    display: inline-block;
    width:10px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right:0.55em;
}
.btn-user .sex.male:before {
    content: "\f183";
    color: #167ac6;
}
.btn-user .sex.female:before {
    content: "\f182";
    color: #d9534f;
}
.btn-user .caret {
    opacity: 0;
    margin-left: 0.65em;
    margin-right: 0;
}
.btn-user .caret.after {
    opacity: 0;
    margin-right: 0.65em;
    margin-left: 0;
}
.mc .users .btn-user-group {
    width: 100%;
}
.btn-user-group.open .btn-user {
    color: #fff;
    opacity: 1;
    background: #167ac6;
    border-color: #0C6FBA;
}
.btn-user-group.open .btn-user .sex:before {
    color: #fff;
}
.btn-user-group.open .btn-user .caret {
    opacity: 1;
}
.btn-user-group.open .btn-user .caret:before {
    color: #fff;
    opacity: 1;
}
.btn-user-group ul {display:block;}

.mc .message {
    background: #fff;
    padding:1.2em;
}
.mc .message:nth-child(2n) {
    background:#f6f6f6;
}

.mc .message .avatar {
    width: 36px;
    height: 36px;
    border: 1px solid #222;
    float: right;
}
.mc .message.my-message .avatar {
    float:left;
}
.mc .message .msg {
    padding-left: 10%;
    margin-top: 1.1em;
    font-weight: bold;
    color: #333;
    /*padding-left:10%;*/
    text-align:right;
}
.mc .message .msg img {
    max-width:560px;
}
.mc .message.my-message .msg {
    padding-left: 0;
    /*padding-right: 10%;*/
    text-align:left;
}
.mc .message .btn-user {
    margin:1px 0.75em;
    float: right;
}
.mc .message .btn-user-group {
    margin:1px 0.8em;
    float: right;
}
.mc .message .btn-user-group .btn-user {
    margin: 0;
}
.mc .message.my-message .btn-user-group {
    float:left;
}
.mc .message.my-message .btn-user {
    float:left;
}
.mc .btn-smiles {
    width: 43px;
    height: 35px;
    color: #333;
    position: absolute;
    right: 0;
    border-radius: 4px;
    margin: 0.6em;
    background: #f9f9f9;
    text-align: center;
    font-family: fontello;
    padding: 7px 10px;
}
.mc .btn-smiles div {
    display:none;
}
.mc .btn-smiles.open div {
    display:block;
}
.smile {
    font-family: fontello;
}

.tab .news {
    display: inline-block;
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
    min-width: 18px;
    height: 18px;
    line-height: 12px;
    text-align: center;
    line-height: 10px;
    position: relative;
    top: -1px;
    /*box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);*/
    margin-left: 0.857em;
    font-weight: bold;
    background: #167ac6;
    color: #fff;
}
.tab.room.active .news {
    background: #fff;
    color: #167ac6;
}


.anketa{
    background: #FFF;
    height: 836px;
    width: 600px;
    margin-left: 27px;
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 0px 12px 1px rgba(0, 0, 0, 0.06), 0 0 0 1px #666 inset;
    z-index: 30;
    position: absolute;
    height: 830px;
    color: #fff;
}
.anketa .uname {
    color:#333;
    line-height:40px;
    padding:1em 1.5em;
}
.anketa h1 {
    margin:0;
    font-size:18px;
    font-weight:bold;
}
.anketa .user-info {
    margin: -1px 1px;
    padding:1em 1.5em;
}
.anketa .links {
    padding: 1em 1.5em;
    margin: 0 1px;
}
.anketa .links a {
    color:#666 !important;
    display:inline-block;
    margin-right:1.5em;
    font-size:16px;
}
.anketa .links a.active {
    color:#167ac6 !important;
}
.anketa.contents{
    padding:1em;
}
.anketa .profile-info {
    color:#666;
}
.anketa .name {
    display: block;
    font-size: 24px;
    color: #333;
    margin-bottom: 0.25em;
}
.anketa .val2 {
    margin-left:1em;
}
.anketa .avatar {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 1.5em;
    border: 1px solid #333;
    background-position: center;
    background-size:cover;
}
.anketa .contents {
padding:0.5em 1.5em
}
.anketa textarea{
min-height: 34px !important;
max-height: 154px !important;
height: 34px;
border-radius: 3px;
overflow: hidden;
resize:vertical;
}
.anketa .a-write {
color: #452FA0;
}
.anketa .a-send {
float: right;
margin-top: 5px;
color: #0C851F;
}
.anketa .aa-icons {
margin-right:1.5em;
color: #444;
float: right;
position:relative;
top:70px;
font-size:16px;
}
.anketa .aa-icons span {
margin: 0 0.5em;
cursor:pointer;
}
.anketa .posts {
color:#333;
}
.anketa .posts .post {
margin: 10px 0;
}
.anketa .posts .p-author {
font-weight: bold;
display: block;
}
.anketa .posts .avatar {
float:left;
border:1px solid #ccc;
width: 36px;
height: 36px;
margin: 3px 8px 3px 0;
}

.separator {clear:both;}
.btn:focus,.btn:active {outline:none !important;}


/* #167ac6 */
@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?35569208');
    src: url('../fonts/fontello.eot?35569208#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff?35569208') format('woff'),
         url('../fonts/fontello.ttf?35569208') format('truetype'),
         url('../fonts/fontello.svg?35569208#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 1440px) {
    .mc .offset-right { width:19.5em; }
}
@media (max-width: 1280px) {
    .mc .offset-right { width:18em; }
}
@media (max-width: 1024px) {
    .mc .offset-right { width:16em; }
}